Ver 0.2 Node-red flow
[{"id":"fec91a1e.951ce8","type":"inject","z":"28e32ec1.25af82","name":"","topic":"at 7 am","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":"","x":160,"y":60,"wires":[["e4b9cb42.cbba8"]]},{"id":"a9b4b63.1054348","type":"file in","z":"28e32ec1.25af82","name":"","filename":"/home/pi/Pictures/blueb.jpg","format":"","sendError":true,"x":441,"y":198,"wires":[["b8da6a01.fa6498"]]},{"id":"b8da6a01.fa6498","type":"change","z":"28e32ec1.25af82","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Washington County Bluebonnets #bluebonnets #bluebonnet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":300,"wires":[["db241e1e.5c61c"]]},{"id":"e4b9cb42.cbba8","type":"camerapi-takephoto","z":"28e32ec1.25af82","filemode":"1","filename":"blueb.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"4","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"blueb.jpg","x":320,"y":120,"wires":[["a9b4b63.1054348"]]},{"id":"24458420.b97cd4","type":"inject","z":"28e32ec1.25af82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":"","x":110,"y":180,"wires":[["e4b9cb42.cbba8"]]},{"id":"390d93a3.5b091c","type":"inject","z":"28e32ec1.25af82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":"","x":130,"y":240,"wires":[["e4b9cb42.cbba8"]]},{"id":"3b3f4ef7.988502","type":"inject","z":"28e32ec1.25af82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":"","x":110,"y":320,"wires":[["e4b9cb42.cbba8"]]},{"id":"db241e1e.5c61c","type":"twitter out","z":"28e32ec1.25af82","twitter":"","name":"Tweet","x":760,"y":380,"wires":[]}]
